/* classes for big fonts  */

.f-30 {
    font-size: 30px;
}

.f-50 {
    font-size: 50px;
}

.f-70 {
    font-size: 70px;
}

.f-100 {
    font-size: 100px;
}

/* .vr{
    width: 2px;
    border: 1px solid red;
} */

.my-news-card{
    border: none;
}





/* for navbar */
nav {
    /* height: 95px; */
    background-color: rgb(255, 255, 255);
}

/* for dropdown menu  */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* remove the gap so it doesn't close */
}

/* for banner  */
.my-banner {
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: blue; */
    height: 550px;
    width: 100%;
}

/* for banner components  */
.my-banner-component {
    color: white;
}

.my-banner-component li {
    list-style: none;
}

/* for institute greeting  */
/* .my-institute-departments{
    height: 300px;
} */

/* for departments  */
.my-depts {
    background-image: url('../images/dept-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    width: 270px;
}

.dropdown-menu {
    min-width: 300px;
    background-color: rgb(240, 240, 240);
    /* border: 2px solid red; */
}

.dropdown-item {
    height: 50px;

}